<h2>All Discounts</h2>

<br>

<% @discounts.each do |discount| %>
  <ul>
    <li>Percentage Discount: <%= discount.percentage_discount %></li>
    <li>Quantity: <%= discount.quantity %></li>
  </ul>
  <br>
<% end %>

<br>

<h3><%= link_to 'Create New Discount', "/merchants/#{@discounts.first.merchant.id}/bulk_discounts/new" %></h3>



